<div class="row">
  <div class="small-12 columns small-centered">
    <h3><b>Group Details:</b></h3>
    <div style="text-align:left; border:2px solid black; border-radius: 20px; padding:20px; margin-bottom: 20px">
     	<h5><b>Spa:</b> Ipsum lorem whatsum bacon bitsum </h5>
     	<h5><b>City/State:</b> Tucson, AZ </h5>
      <h5><b>Group Leader:</b> Tina Y. </h5>  
      <h5><b>Minimum Nights:</b> 3 </h5>  
      <h5><b>Discount:</b> 40%-50%*</h5>  
     	<h5><b>Registered:</b> <%= @retreat.registered %></h5>
      <h5><b>Confirmed w/ deposit:</b> <%= @retreat.confirmed %></h5>
     	<h5><b>Group rates at:</b> <%= @retreat.group_rates_at %></h5>
      <h5><b>Retreat description:</b> <%= @retreat.description %></h5>
      *discount varies based on chosen room type and single/double occupancy.
    </div>
      <%= link_to('Register',"https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EGJA6Q9JGDCC4", :class => "button large round", :id => "register_button") %>
	</div>
</div>


