<div class="row">
  <div class="small-12 columns small-centered">
     	<h3><b>Group Details:</b> <%= @retreat.name %></h3>
     	<h5><b>Spa:</b> <%= @retreat.spa.name %></h5>
     	<h5><b>City/State:</b> <%= @retreat.spa.citystate %></h5>
      <h5><b>Arrival date:</b> <%= @retreat.arrival_date.strftime("%B %d, %Y") %></h5>
     	<h5><b>Registered:</b> <%= @retreat.registered %></h5>
      <h5><b>Confirmed:</b> <%= @retreat.confirmed %></h5>
     	<h5><b>Group rates at:</b> <%= @retreat.group_rates_at %></h5>
      <h5><b>Comp stay at:</b> <%# @retreat.comp_stay_at %></h5>
      <h5><b>Retreat description:</b> <%= @retreat.description %></h5>
      <%= link_to('Register',"http://paypal.com", :class => "button large round", :id => "register_button") %>
	</div>
</div>


