      <h2 id="month">
        <%= link_to "<<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">>", date: @date.next_month %>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if (@reservations_by_guest_night[date].to_i > 10) %>          
              <li class="reservation_counter_with_guest_minimum_met group_minimum_size_met"><%= link_to(@reservations_by_guest_night[date], retreats_path(date)) %></li>
        <% elsif (@reservations_by_guest_night[date].to_i > 0)  %>
              <li class="reservation_counter"><%= link_to(@reservations_by_guest_night[date], "#" ) %></li>
        <% end %>
      <% end %>