<div class="row">
  <div class="medium-9 columns" role="content">
    <div id="reservations">
      <h2 id="month">
        <%= link_to "<<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">>", date: @date.next_month %>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if (@reservations_count_by_date[date].to_i > 10) %>          
              <li class="reservation_counter_with_guest_minimum_met group_minimum_size_met"><%= link_to(@reservations_count_by_date[date], retreats_path(date)) %></li>
        <% elsif (@reservations_count_by_date[date].to_i > 0)  %>
              <li class="reservation_counter"><%= link_to(@reservations_count_by_date[date], "#" ) %></li>
        <% end %>
      <% end %>
    </div>
    <span>*All destination spa locations. Click date to view retreat details by destination spa location.</span>
  </div>
  <aside class="medium-3 columns">   
    <div class="side-nav">
      <div style="height:240px; width:217px">
        <div style="padding:0px 0 0 0px; margin:-20px 0px 0px 0px; color: grey; font-weight:1.2em">Inspired Yoga & Spa Apparel:</div>
        <div>
          <%= link_to(image_tag("belove2.png", height: "200px", width: "217px", alt: "", id: "ad1" ), "http://www.beloveapparel.com/women/")%>
        </div>
      </div>
      <div id="responsiveAd1"> <!-- Google Adsense Code -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:217px;height:217px"
                     data-ad-client="ca-pub-1429880673944819"
                     data-ad-slot="5824155682"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
       </div> <!-- END Google Adsense Code -->  
      <div id="responsiveAd2"> <!-- Google Adsense Code -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:217px;height:240px"
                     data-ad-client="ca-pub-1429880673944819"
                     data-ad-slot="5824155682"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
       </div> <!-- END Google Adsense Code --> 
    </div>
  </aside>
</div>
     
       